{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p class="govuk-body">{{ websiteRanBy }}</p>
  <p class="govuk-body">{{ asManyAsPossible }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ asManyAsPossibleColours }}</li>
    <li>{{ asManyAsPossibleZoom }}</li>
    <li>{{ asManyAsPossibleKeyboard }}</li>
    <li>{{ asManyAsPossibleSpeech }}</li>
    <li>{{ asManyAsPossibleListen }}</li>
  </ul>
  <p class="govuk-body">{{ simpleAsPossible }}</p>
  <p class="govuk-body">{{ abilityNet | safe }}</p>

  <h3 class="govuk-heading-s">{{ howAccessible }}</h3>
  <p class="govuk-body">{{ somePartsNot }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ somePartsNotReflow }}</li>
    <li>{{ somePartsNotSpacing }}</li>
    <li>{{ somePartsScreenReader }}</li>
    <li>{{ somePartsNoCaptions }}</li>
    <li>{{ somePartsOnlineForms }}</li>
    <li>{{ somePartsSkipContent }}</li>
    <li>{{ somePartsMagnify }}</li>
  </ul>

  <h3 class="govuk-heading-s">{{ feedbackAndContactInformation }}</h3>
  <p class="govuk-body">{{ needMoreInformation }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ email | safe }}</li>
    <li>{{ phone }}</li>
    <li>{{ tribunalsCentre }}</li>
  </ul>
  <p class="govuk-body">{{ considerYourRequest }}</p>

  <h3 class="govuk-heading-s">{{ reportingAccessibility }}</h3>
  <p class="govuk-body">{{ improveAccessibility | safe }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ email | safe }}</li>
    <li>{{ accessibilityPhoneNumber }}</li>
  </ul>
  <p class="govuk-body">{{ considerYourRequest }}</p>

  <h3 class="govuk-heading-s">{{ enforcementProcedure }}</h3>
  <p class="govuk-body">{{ humanRightsCommission | safe }}</p>

  <h2 class="govuk-heading-m">{{ contactingUs }}</h2>
  <p class="govuk-body">{{ contactCourtDirectly | safe }}</p>
  <p class="govuk-body">{{ contactTextRelay }}</p>
  <p class="govuk-body">{{ contactInductionLoops }}</p>

  <h2 class="govuk-heading-m">{{ technicalInfo }}</h2>
  <p class="govuk-body">{{ hmctsIsCommitted }}</p>

  <h2 class="govuk-heading-m">{{ complianceStatus }}</h2>
  <p class="govuk-body">{{ partiallyCompliant | safe }}</p>

  <h2 class="govuk-heading-m">{{ nonAccessibleContent }}</h2>
  <p class="govuk-body">{{ nonAccessibleReasons }}</p>

  <h3 class="govuk-heading-s">{{ nonComplianceAccessibility }}</h3>
  <p class="govuk-body">{{ nonCompliancePDF }}</p>

  <h2 class="govuk-heading-m">{{ whatDoingToImproveAccessibility }}</h2>
  <p class="govuk-body">{{ whatDoingToImproveAccessibilityAction }}</p>

  <h2 class="govuk-heading-m">{{ accessibilityStatementPreparation }}</h2>
  <p class="govuk-body">{{ accessibilityStatementPreparationDate }}</p>
  <p class="govuk-body">{{ accessibilityStatementPreparationLastTested }}</p>
{% endblock %}
