{% extends "authless-templates.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block header %}
  {{ govukHeader({serviceName: content.serviceTitle}) }}
{% endblock %}


{%set language = "Cymraeg"%}

{% if ToggleLanguage == "cy" %}
{% set language = "Cymraeg" %}
{% elif ToggleLanguage == "en" %}
{% set language = "English" %}
{% else %}
{% set language = "Cymraeg" %}
{% endif %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "BETA"
  },
  html: content.banner|replace("currentUrl",currentUrl)
}) }}
{% endblock %}


{% block content %}
  <h1 class="govuk-heading-l">{{ content['heading'] }}</h1>
  <p class="govuk-body-l">{{ content['body'] | safe }}</p>

  <br/>

  {{ govukButton({
    text: content.button,
    href: loginURL,
    isStartButton: true
  }) }}
{% endblock %}
