Html Webpack Plugin:
<pre>
  TypeError: Cannot read properties of undefined (reading 'substr')
  
  - css-template.njk:14 
    /Users/scott.davey/hmcts/sp-trib/frontend/sptribs-frontend/src/main/steps/common/webpack/css-template.njk:14:42
  
  - css-template.njk:17 module.exports
    /Users/scott.davey/hmcts/sp-trib/frontend/sptribs-frontend/src/main/steps/common/webpack/css-template.njk:17:3
  
  - index.js:793 
    [sptribs-frontend]/[html-webpack-plugin]/index.js:793:16
  
  - task_queues:104 process.processTicksAndRejections
    node:internal/process/task_queues:104:5
  
  - async Promise.all
  
</pre>