{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "common/page.njk" %}

{% block page_content %}

{% if FileErrors.length > 0 %}
{{ govukErrorSummary({
  titleText: errorSummaryHeading,
  errorList: FileErrors
}) }}

{% endif %}


<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ title }}</h1>
<h2 class="govuk-heading-m">{{ title1 }}</h2>
<p class="govuk-body">{{ line1 }}</p>
<p class="govuk-body">{{ line2 }}</p>
<p class="govuk-body">{{ line3 }}</p>
{{ uploadExamples | safe }}

<p class="govuk-body">{{ additionalInfo }}</p>

{{ govukDetails({
  summaryText: uploadRequirementHeader,
  text: uploadRequirement | safe
}) }}

<div id="uploadGroup" tabindex="-1" class="uploadGroup">
  <h2 class="govuk-heading-s" style="display:none;">{{ uploadFiles }}</h2>
  <p class="govuk-body govuk-section-break govuk-section-break--visible govuk-!-padding-bottom-3{% if otherInformation|length %} hidden{% endif %}" id="noFilesUploaded">{{ noFilesUploaded }}</p>
  <ul id="filesUploaded" class="govuk-list" style="display:none;">
    {% if otherInformation.length >0 %}
    {% for file in otherInformation %}
      <li class="uploadedFile govuk-!-padding-top-2 govuk-!-padding-bottom-3 govuk-section-break govuk-section-break--visible">
        <table class="documentRelevanceAndDeletion">
          <tr>
            <td class="documentRelevanceAndDeletionAlignment"> {{ file.name }}
            {% if file.description %}
              <br><br>
              {{ file.description }}
            {%endif%}
            </td>
            {% set documentId = file.id %}
            <td class="documentRelevanceAndDeletionAlignment"><a href="/upload-other-information?query=delete&docId={{ documentId }}&documentType={{ file.documentType }}" class="govuk-link--no-visited-state float-right ">{{ delete }}</a></td>
          </tr>
        </table>
      </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>

<p class="govuk-body">
  {{ fileFormats }}<br>
  {{ fileSize }}
</p>

<form class="formRow" action="/upload-other-information?_csrf={{ csrfToken }}" method="post" enctype="multipart/form-data">
  {% if FileErrors.length > 0 %}
    {{ govukFileUpload({
      id: "file-upload-1",
      name: "documents",
      classes: "govuk-!-margin-bottom-1",
      label: {
        text: uploadAFile
      },
      errorMessage: {
        text: FileErrors[0].text
      }
    }) }}
  {% else %}
    {{ govukFileUpload({
      id: "file-upload-1",
      name: "documents",
      classes: "govuk-!-margin-bottom-1",
      label: {
        text: uploadAFile
      }
    }) }}
  {% endif %}

  <br>
  <br>

  {% if sessionErrors.length > 0 %}
    {% from "common/error/summary.njk" import errorList with context %}

    {% set additionalInformationErrors = "" %}
    {% set documentRelevanceErrors = "" %}

    {% for error in errorList | list %}
      {% if "#additionalInformation" in error.href %}
        {% set additionalInformationErrors = [additionalInformationErrors, error.text] | join(" ") | safe %}
        {% if loop.last == false %}
          {% set additionalInformationErrors = [additionalInformationErrors, "<br>"] | join(" ") | safe %}
        {% endif %}
      {% endif %}
      {% if "#documentRelevance" in error.href %}
        {% set documentRelevanceErrors = [documentRelevanceErrors, error.text] | join(" ") | safe %}
        {% if loop.last == false %}
          {% set documentRelevanceErrors = [documentRelevanceErrors, "<br>"] | join(" ") | safe %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if documentRelevanceErrors.length > 0 %}
    <div class="govuk-form-group govuk-form-group--error">
      <label class="govuk-label govuk-label--m" for="documentRelevance">{{ title3 }}</label>
      <div id="documentRelevance-hint" class="govuk-hint">{{ line4 }}</div>
      <p id="documentRelevance-error" class="govuk-error-message">
        {% from "common/error/summary.njk" import errorList with context %}
        <span class="govuk-visually-hidden">Error:</span>
        {{ documentRelevanceErrors }}
      </p>
      <input class="govuk-input govuk-input--error" id="documentRelevance" name="documentRelevance" type="text" aria-describedby="documentRelevance-hint documentRelevance-error">
    </div>
  {% else %}
    <label class="govuk-label govuk-label--m" for="documentRelevance">{{ title3 }}</label>
    <div id="documentRelevance-hint" class="govuk-hint">{{ line4 }}</div>
    <input class="govuk-input govuk-text" id="documentRelevance" name="documentRelevance" type="text" aria-describedby="documentRelevance-hint">
  {% endif %}

  <p class="govuk-body">{{ uploadGuidance }}</p>

  {{ govukButton({
      text: uploadButton,
      type: "upload document",
      classes: "govuk-!-margin-bottom-1"
  }) }}

  <br>
  <br>
  <br>

  {% if additionalInformationErrors.length > 0 %}
    {{ govukTextarea({
        name: "additionalInformation",
        id: "additionalInformation",
        value: userCase.additionalInformation,
        label: {
          text: title2,
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: hint,
          classes: "govuk-hint",
          isPageHeading: false
        },
        errorMessage: {
          text: additionalInformationErrors
        }
    }) }}
  {% else %}
      {{ govukTextarea({
          name: "additionalInformation",
          id: "additionalInformation",
          value: userCase.additionalInformation,
          hint: {
            text: hint,
            classes: "govuk-hint",
            isPageHeading: false
          },
          label: {
            text: title2,
            classes: "govuk-label--m",
            isPageHeading: true
          }
      }) }}
  {% endif %}

  {{ govukButton({
      text: continue,
      type: submit,
      name: 'saveAndContinue',
      classes: "govuk-!-margin-bottom-1"
  }) }}

</form>

{% endblock %}
