{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set cookieMessageHTML %}
  <p class="govuk-body">{{ cookiesLine1 }}</p>
  <p class="govuk-body">{{ cookiesLine2 }}</p>
{% endset %}

{{ govukCookieBanner({
  classes: 'cookie-banner',
  ariaLabel: cookiesHeading + " " + serviceName,
  hidden: true,
  messages: [
    {
      classes: "cookie-banner-message",
      headingText: cookiesHeading + " " + serviceName,
      html: cookieMessageHTML,
      actions: [
        {
          classes: 'cookie-banner-accept-button',
          text: acceptAnalyticsCookies,
          type: "button"
        },
        {
          classes: 'cookie-banner-reject-button',
          text: rejectAnalyticsCookies,
          type: "button"
        },
        {
          text: viewCookies,
          href: "/cookies"
        }
      ]
    },
    {
      html: cookiesConfirmationMessage,
      role: "alert",
      classes: "cookie-banner-accept-message",
      hidden: true,
      actions: [
        {
          classes: 'cookie-banner-hide-button',
          text: hideMessage
        }
      ]
    },
    {
      html: cookiesConfirmationMessage,
      role: "alert",
      classes: "cookie-banner-reject-message",
      hidden: true,
      actions: [
        {
          classes: 'cookie-banner-hide-button',
          text: hideMessage
        }
      ]
    }
  ]
}) }}
